## Pyspark dataframes
<ul>
<li><strong>Filter Opertion</strong></li>
<li><strong>&amp;, |, ==</strong></li>
<li><strong>~</strong></li>
</ul>

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

22/11/19 15:03:27 WARN Utils: Your hostname, dell-5570 resolves to a loopback address: 127.0.1.1; using 10.189.123.35 instead (on interface wlp0s20f3)
22/11/19 15:03:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/19 15:03:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/19 15:03:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/11/19 15:03:28 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [9]:
df_pyspark = spark.read.csv('data/Noms.csv', header = True, inferSchema = True)
df_pyspark.show()

+----------------+------+----+
|           names|  freq| age|
+----------------+------+----+
|         ANTONIO|678425|  14|
|            JOSE|594144|   5|
|          MANUEL|590965|  21|
|       FRANCISCO|498934|  29|
|           DAVID|365196|  34|
|            JUAN|346867|   5|
|    JOSE ANTONIO|310134|  56|
|          JAVIER|  null|   9|
|          DANIEL|296281|  54|
|       JOSE LUIS|293564|  55|
|FRANCISCO JAVIER|287711|  23|
|          CARLOS|278752|  55|
|           JESUS|277718|null|
|            null|  null|  59|
|          MIGUEL|248110|  44|
|     JOSE MANUEL|  null|null|
|          RAFAEL|236539|null|
+----------------+------+----+

### Filter Operation

In [11]:
### age less then 30 years
df_pyspark.filter("age <=30").select(['names', 'age']).show()

+----------------+---+
|           names|age|
+----------------+---+
|         ANTONIO| 14|
|            JOSE|  5|
|          MANUEL| 21|
|       FRANCISCO| 29|
|            JUAN|  5|
|          JAVIER|  9|
|FRANCISCO JAVIER| 23|
+----------------+---+

In [18]:
df_pyspark.filter((df_pyspark['age']<=56) & (df_pyspark['age'] >= 15)).show()

+----------------+------+---+
|           names|  freq|age|
+----------------+------+---+
|          MANUEL|590965| 21|
|       FRANCISCO|498934| 29|
|           DAVID|365196| 34|
|    JOSE ANTONIO|310134| 56|
|          DANIEL|296281| 54|
|       JOSE LUIS|293564| 55|
|FRANCISCO JAVIER|287711| 23|
|          CARLOS|278752| 55|
|          MIGUEL|248110| 44|
+----------------+------+---+

In [19]:
df_pyspark.filter((df_pyspark['age']<=56) | (df_pyspark['age'] >= 15)).show()

+----------------+------+---+
|           names|  freq|age|
+----------------+------+---+
|         ANTONIO|678425| 14|
|            JOSE|594144|  5|
|          MANUEL|590965| 21|
|       FRANCISCO|498934| 29|
|           DAVID|365196| 34|
|            JUAN|346867|  5|
|    JOSE ANTONIO|310134| 56|
|          JAVIER|  null|  9|
|          DANIEL|296281| 54|
|       JOSE LUIS|293564| 55|
|FRANCISCO JAVIER|287711| 23|
|          CARLOS|278752| 55|
|            null|  null| 59|
|          MIGUEL|248110| 44|
+----------------+------+---+

In [20]:
df_pyspark.filter(~(df_pyspark['age']<=56)).show()

+-----+----+---+
|names|freq|age|
+-----+----+---+
| null|null| 59|
+-----+----+---+

In [21]:
df_pyspark.filter(~(df_pyspark['age']<=56) | ~(df_pyspark['age'] >= 15)).show()

+-------+------+---+
|  names|  freq|age|
+-------+------+---+
|ANTONIO|678425| 14|
|   JOSE|594144|  5|
|   JUAN|346867|  5|
| JAVIER|  null|  9|
|   null|  null| 59|
+-------+------+---+