In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

22/11/19 15:24:29 WARN Utils: Your hostname, dell-5570 resolves to a loopback address: 127.0.1.1; using 10.189.123.35 instead (on interface wlp0s20f3)
22/11/19 15:24:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/19 15:24:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/19 15:24:30 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/11/19 15:24:30 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/11/19 15:24:30 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
spark

In [11]:
df_pyspark = spark.read.csv('data/jobs.csv', header = True, inferSchema = True)

In [12]:
df_pyspark.show()

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
|  Omar|Data Science|100000|
|  Amin|         IOT| 30000|
|  hiba|    Big Data| 40000|
|yealla|    Big Data| 80000|
|Mahesh|         IOT|200000|
|  Omar|         IOT|100000|
|  Amin|    Big Data| 30000|
|  hiba|Data Science|405000|
|yealla|         IOT| 80000|
|Mahesh|         IOT|200000|
+------+------------+------+

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [14]:
# Groupby 

df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
|  hiba|     445000|
|  Amin|      60000|
|  Omar|     200000|
|yealla|     160000|
|Mahesh|     400000|
+------+-----------+

In [19]:
# Groupby 

df_pyspark.groupBy('Name').max().show()

+------+-----------+
|  Name|max(salary)|
+------+-----------+
|  hiba|     405000|
|  Amin|      30000|
|  Omar|     100000|
|yealla|      80000|
|Mahesh|     200000|
+------+-----------+

In [20]:
# Groupby 

df_pyspark.groupBy('Name').avg().show()

+------+-----------+
|  Name|avg(salary)|
+------+-----------+
|  hiba|   222500.0|
|  Amin|    30000.0|
|  Omar|   100000.0|
|yealla|    80000.0|
|Mahesh|   200000.0|
+------+-----------+

22/11/19 22:51:51 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 3473349 ms exceeds timeout 120000 ms
22/11/19 22:51:51 WARN SparkContext: Killing executors is not supported by current scheduler.

In [15]:
# GruopBy Departements With gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|     610000|
|    Big Data|     150000|
|Data Science|     505000|
+------------+-----------+

In [16]:
# mean
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|   122000.0|
|    Big Data|    50000.0|
|Data Science|   252500.0|
+------------+-----------+

In [17]:
# count
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    5|
|    Big Data|    3|
|Data Science|    2|
+------------+-----+

In [18]:
df_pyspark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    1265000|
+-----------+