In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /home/omar/anaconda3/lib/python3.9/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /home/omar/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('data/names.csv')

             Nombre  Frecuencia
0           ANTONIO      678425
1              JOSE      594144
2            MANUEL      590965
3         FRANCISCO      498934
4             DAVID      365196
...             ...         ...
50731   ZELIA MARIA          20
50732    ZITA MARIA          20
50733         ZIWEI          20
50734  ZOILA ESTHER          20
50735   ZULMA MARIA          20

[50736 rows x 2 columns]

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

22/11/19 14:07:12 WARN Utils: Your hostname, dell-5570 resolves to a loopback address: 127.0.1.1; using 10.189.123.35 instead (on interface wlp0s20f3)
22/11/19 14:07:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/19 14:07:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('data/names.csv')

In [8]:
df_pyspark.show()

+----------------+----------+
|             _c0|       _c1|
+----------------+----------+
|          Nombre|Frecuencia|
|         ANTONIO|    678425|
|            JOSE|    594144|
|          MANUEL|    590965|
|       FRANCISCO|    498934|
|           DAVID|    365196|
|            JUAN|    346867|
|    JOSE ANTONIO|    310134|
|          JAVIER|    306504|
|          DANIEL|    296281|
|       JOSE LUIS|    293564|
|FRANCISCO JAVIER|    287711|
|          CARLOS|    278752|
|           JESUS|    277718|
|       ALEJANDRO|    259146|
|          MIGUEL|    248110|
|     JOSE MANUEL|    242609|
|          RAFAEL|    236539|
|    MIGUEL ANGEL|    227734|
|           PEDRO|    225485|
+----------------+----------+
only showing top 20 rows

In [9]:
df_pyspark = spark.read.option('header', 'true').csv('data/names.csv')

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(3)

[Row(Nombre='ANTONIO', Frecuencia='678425'),
 Row(Nombre='JOSE', Frecuencia='594144'),
 Row(Nombre='MANUEL', Frecuencia='590965')]

In [12]:
df_pyspark.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Frecuencia: string (nullable = true)

<ul>
<li><strong>PySpark Datarame</strong></li>
<li><strong>Reading the Dataset</strong></li>
<li><strong>Checking the Datatypes of the Column (Shema)</strong></li>
<li><strong>Selecting Columns and indexing&nbsp;</strong></li>
<li><strong>Check describe option similar to Pandas</strong></li>
<li><strong>Adding Columns&nbsp;</strong></li>
<li><strong>Dropping columns&nbsp;</strong></li>
</ul>

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

22/11/19 14:07:20 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [15]:
spark

### 1. read dataset

In [34]:
df_pyspark = spark.read.option('header', 'true').csv('data/names.csv')

In [35]:
df_pyspark.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Frecuencia: string (nullable = true)

In [36]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [37]:
df_pyspark.columns

['Nombre', 'Frecuencia']

In [38]:
df_pyspark.head(3)

[Row(Nombre='ANTONIO', Frecuencia='678425'),
 Row(Nombre='JOSE', Frecuencia='594144'),
 Row(Nombre='MANUEL', Frecuencia='590965')]

In [39]:
df_pyspark.show()

+----------------+----------+
|          Nombre|Frecuencia|
+----------------+----------+
|         ANTONIO|    678425|
|            JOSE|    594144|
|          MANUEL|    590965|
|       FRANCISCO|    498934|
|           DAVID|    365196|
|            JUAN|    346867|
|    JOSE ANTONIO|    310134|
|          JAVIER|    306504|
|          DANIEL|    296281|
|       JOSE LUIS|    293564|
|FRANCISCO JAVIER|    287711|
|          CARLOS|    278752|
|           JESUS|    277718|
|       ALEJANDRO|    259146|
|          MIGUEL|    248110|
|     JOSE MANUEL|    242609|
|          RAFAEL|    236539|
|    MIGUEL ANGEL|    227734|
|           PEDRO|    225485|
|           ANGEL|    220709|
+----------------+----------+
only showing top 20 rows

In [40]:
## how to pick up thz nombre columns
df_pyspark.select(['Nombre']).show() # ['Nombre', "columns1"]

+----------------+
|          Nombre|
+----------------+
|         ANTONIO|
|            JOSE|
|          MANUEL|
|       FRANCISCO|
|           DAVID|
|            JUAN|
|    JOSE ANTONIO|
|          JAVIER|
|          DANIEL|
|       JOSE LUIS|
|FRANCISCO JAVIER|
|          CARLOS|
|           JESUS|
|       ALEJANDRO|
|          MIGUEL|
|     JOSE MANUEL|
|          RAFAEL|
|    MIGUEL ANGEL|
|           PEDRO|
|           ANGEL|
+----------------+
only showing top 20 rows

In [41]:
df_pyspark['Nombre']

Column<'Nombre'>

### Checking Describe Options

In [42]:
df_pyspark.describe()

DataFrame[summary: string, Nombre: string, Frecuencia: string]

In [43]:
### Adding Columns in data Frame
df_pyspark.withColumn('Frecuencia gather then 400000', df_pyspark['Frecuencia']>400000)

DataFrame[Nombre: string, Frecuencia: string, Frecuencia gather then 400000: boolean]

In [44]:
#### Drop teh columns 
df_pyspark.drop('Experience After 2 years')

DataFrame[Nombre: string, Frecuencia: string]

In [47]:
df_pyspark.withColumnRenamed('Nombre', "names")

DataFrame[names: string, Frecuencia: string]