### Pyspark Handling Missing Values
<ul>
<li style="text-align: justify;"><strong>Dropping Columns</strong></li>
<li style="text-align: justify;"><strong>Dropping Rows</strong></li>
<li style="text-align: justify;"><strong>Various Parameter In Dropping functionnalities</strong></li>
<li style="text-align: justify;"><strong>Handling Missing values by Mean Median, and Mode </strong></li>
</ul>

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

22/11/19 14:24:14 WARN Utils: Your hostname, dell-5570 resolves to a loopback address: 127.0.1.1; using 10.189.123.35 instead (on interface wlp0s20f3)
22/11/19 14:24:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/19 14:24:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/19 14:24:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
df_pyspark = spark.read.csv('data/Noms.csv', header = True, inferSchema = True)

In [9]:
df_pyspark.show()

+----------------+------+----+
|           names|  freq| age|
+----------------+------+----+
|         ANTONIO|678425|  14|
|            JOSE|594144|   5|
|          MANUEL|590965|  21|
|       FRANCISCO|498934|  29|
|           DAVID|365196|  34|
|            JUAN|346867|   5|
|    JOSE ANTONIO|310134|  56|
|          JAVIER|  null|   9|
|          DANIEL|296281|  54|
|       JOSE LUIS|293564|  55|
|FRANCISCO JAVIER|287711|  23|
|          CARLOS|278752|  55|
|           JESUS|277718|null|
|            null|  null|  59|
|          MIGUEL|248110|  44|
|     JOSE MANUEL|  null|null|
|          RAFAEL|236539|null|
+----------------+------+----+

### # drop the columns

In [10]:
# drop thz columns 
df_pyspark.drop('names').show()

+------+----+
|  freq| age|
+------+----+
|678425|  14|
|594144|   5|
|590965|  21|
|498934|  29|
|365196|  34|
|346867|   5|
|310134|  56|
|  null|   9|
|296281|  54|
|293564|  55|
|287711|  23|
|278752|  55|
|277718|null|
|  null|  59|
|248110|  44|
|  null|null|
|236539|null|
+------+----+

In [12]:
df_pyspark.show()

+----------------+------+----+
|           names|  freq| age|
+----------------+------+----+
|         ANTONIO|678425|  14|
|            JOSE|594144|   5|
|          MANUEL|590965|  21|
|       FRANCISCO|498934|  29|
|           DAVID|365196|  34|
|            JUAN|346867|   5|
|    JOSE ANTONIO|310134|  56|
|          JAVIER|  null|   9|
|          DANIEL|296281|  54|
|       JOSE LUIS|293564|  55|
|FRANCISCO JAVIER|287711|  23|
|          CARLOS|278752|  55|
|           JESUS|277718|null|
|            null|  null|  59|
|          MIGUEL|248110|  44|
|     JOSE MANUEL|  null|null|
|          RAFAEL|236539|null|
+----------------+------+----+

In [13]:
df_pyspark.na.drop().show()

+----------------+------+---+
|           names|  freq|age|
+----------------+------+---+
|         ANTONIO|678425| 14|
|            JOSE|594144|  5|
|          MANUEL|590965| 21|
|       FRANCISCO|498934| 29|
|           DAVID|365196| 34|
|            JUAN|346867|  5|
|    JOSE ANTONIO|310134| 56|
|          DANIEL|296281| 54|
|       JOSE LUIS|293564| 55|
|FRANCISCO JAVIER|287711| 23|
|          CARLOS|278752| 55|
|          MIGUEL|248110| 44|
+----------------+------+---+

In [18]:
## any == how
df_pyspark.na.drop(how = "any").show()

+----------------+------+---+
|           names|  freq|age|
+----------------+------+---+
|         ANTONIO|678425| 14|
|            JOSE|594144|  5|
|          MANUEL|590965| 21|
|       FRANCISCO|498934| 29|
|           DAVID|365196| 34|
|            JUAN|346867|  5|
|    JOSE ANTONIO|310134| 56|
|          DANIEL|296281| 54|
|       JOSE LUIS|293564| 55|
|FRANCISCO JAVIER|287711| 23|
|          CARLOS|278752| 55|
|          MIGUEL|248110| 44|
+----------------+------+---+

In [19]:
## any == how , threshold
df_pyspark.na.drop(how = "any", thresh = 2).show()

+----------------+------+----+
|           names|  freq| age|
+----------------+------+----+
|         ANTONIO|678425|  14|
|            JOSE|594144|   5|
|          MANUEL|590965|  21|
|       FRANCISCO|498934|  29|
|           DAVID|365196|  34|
|            JUAN|346867|   5|
|    JOSE ANTONIO|310134|  56|
|          JAVIER|  null|   9|
|          DANIEL|296281|  54|
|       JOSE LUIS|293564|  55|
|FRANCISCO JAVIER|287711|  23|
|          CARLOS|278752|  55|
|           JESUS|277718|null|
|          MIGUEL|248110|  44|
|          RAFAEL|236539|null|
+----------------+------+----+

## any == how, subset

In [ ]:
## any == how, subset
df_pyspark.na.drop(how = "any", subset = ['age']).show()

 ### Filling the Missing Value

In [34]:
fill = df_pyspark.na.fill('Miii')
fill.show()

+----------------+------+----+
|           names|  freq| age|
+----------------+------+----+
|         ANTONIO|678425|  14|
|            JOSE|594144|   5|
|          MANUEL|590965|  21|
|       FRANCISCO|498934|  29|
|           DAVID|365196|  34|
|            JUAN|346867|   5|
|    JOSE ANTONIO|310134|  56|
|          JAVIER|  null|   9|
|          DANIEL|296281|  54|
|       JOSE LUIS|293564|  55|
|FRANCISCO JAVIER|287711|  23|
|          CARLOS|278752|  55|
|           JESUS|277718|null|
|            Miii|  null|  59|
|          MIGUEL|248110|  44|
|     JOSE MANUEL|  null|null|
|          RAFAEL|236539|null|
+----------------+------+----+

In [35]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
inputCols = ['freq', 'age'],
outputCols = ["{}_imputed".format(c) for c in ['freq', 'age']]
).setStrategy("mean")

In [37]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----------------+------+----+------------+-----------+
|           names|  freq| age|freq_imputed|age_imputed|
+----------------+------+----+------------+-----------+
|         ANTONIO|678425|  14|      678425|         14|
|            JOSE|594144|   5|      594144|          5|
|          MANUEL|590965|  21|      590965|         21|
|       FRANCISCO|498934|  29|      498934|         29|
|           DAVID|365196|  34|      365196|         34|
|            JUAN|346867|   5|      346867|          5|
|    JOSE ANTONIO|310134|  56|      310134|         56|
|          JAVIER|  null|   9|      378810|          9|
|          DANIEL|296281|  54|      296281|         54|
|       JOSE LUIS|293564|  55|      293564|         55|
|FRANCISCO JAVIER|287711|  23|      287711|         23|
|          CARLOS|278752|  55|      278752|         55|
|           JESUS|277718|null|      277718|         33|
|            null|  null|  59|      378810|         59|
|          MIGUEL|248110|  44|      248110|         44|
|     JOSE MANUEL|  null|null|      378810|         33|
|          RAFAEL|236539|null|      236539|         33|
+----------------+------+----+------------+-----------+

In [38]:
imputer_median = Imputer(
inputCols = ['freq', 'age'],
outputCols = ["{}_imputed".format(c) for c in ['freq', 'age']]
).setStrategy("median")

In [39]:
imputer_median.fit(df_pyspark).transform(df_pyspark).show()

+----------------+------+----+------------+-----------+
|           names|  freq| age|freq_imputed|age_imputed|
+----------------+------+----+------------+-----------+
|         ANTONIO|678425|  14|      678425|         14|
|            JOSE|594144|   5|      594144|          5|
|          MANUEL|590965|  21|      590965|         21|
|       FRANCISCO|498934|  29|      498934|         29|
|           DAVID|365196|  34|      365196|         34|
|            JUAN|346867|   5|      346867|          5|
|    JOSE ANTONIO|310134|  56|      310134|         56|
|          JAVIER|  null|   9|      296281|          9|
|          DANIEL|296281|  54|      296281|         54|
|       JOSE LUIS|293564|  55|      293564|         55|
|FRANCISCO JAVIER|287711|  23|      287711|         23|
|          CARLOS|278752|  55|      278752|         55|
|           JESUS|277718|null|      277718|         29|
|            null|  null|  59|      296281|         59|
|          MIGUEL|248110|  44|      248110|         44|
|     JOSE MANUEL|  null|null|      296281|         29|
|          RAFAEL|236539|null|      236539|         29|
+----------------+------+----+------------+-----------+